/* RESET AND FONTS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* HEADER */

header {
  background-color: #0084fd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem 1rem;
}

header i {
  font-size: 2rem;
  color: #fff;
}

/* CONTAINER AND FLEX SET */

.container {
  padding-top: 2rem;
  width: calc(100% - 6rem);
  margin: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-centered{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BUTTON */

.btn-azure {
  padding: 1rem 3rem;
  color: white;
  border: none;
  background-color: #0084fd;
  border-radius: 50px;
  font-size: 1rem;
  margin: 2rem 0;
  font-weight: 600;
}

button i {
  color: white;
  font-size: 1.2rem;
  margin-right: 1rem;
}

/* FIRST CARD SECTION */

.card {
  background-color: #b5ddff;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}

/* card-style for first section  */

.card-col-left{
  padding: 2rem;
  text-align: left;
}

.card-col-left>p{
  margin-top: 2rem;
}

.card img {
  width: 80%;
}

.card>i {
  font-size: 5rem;
  padding: 2rem 0 0 0;
  color: #0084fd;
}


.card .title-card {
  display: block;
  color: #0084fd;
  font-weight: 900;
  font-size: 1.3rem;
  padding: 2rem 0;
}

.card p {
  line-height: 1.6rem;
  color: #5a6e7f;
  font-weight: 700;
}

.card>p{
  padding: 0 1.5rem 2rem;
}

/* FULL-WIDTH-BG */

.full-width-bg{
  background-color: #9792e4;
}

.col-left img,
.col-right img{
  width: calc(100% - 4rem);
  margin: 2rem;
}

.col-left-title{
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 0;
}

.col-left p{
  color: #fff;
  padding: 2rem 0;
}

.col-right{
  padding: 2rem 0 4rem;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
}

span.col-right-title{
  font-weight: 700;
  font-size: 1.8rem;
}

.col-right p{
  line-height: 2rem;
  font-style: italic;
  margin: 2rem 2rem 4rem;
}

.arrow{
  font-weight: bold;
  padding: 1.1rem 1.3rem;
  border-radius: 50%;
  background-color: #9792e4;
}

/* TESTIMONIALS  */

.testimonials{
  margin-top: 5rem;
  text-align: center;
}

.testimonials .on-title{
  font-size: 1.2rem;
  font-weight: 500;
}

.testimonials span{
  display: block;
}

.testimonials>p{
  line-height: 2rem;
  font-weight: bold;
  padding: 3rem 1.5rem;
}

.testimonials-title{
  display: block;
  color: #9792e4;
  font-size: 2.5rem;
  font-weight: bold;
}

.bg-card{
  background-color: #9792e4;
  color: #fff;
  border-radius: 60px;
}

.bg-card-img{
  padding: 2rem;
  text-align: center;
}

.bg-card-img img{
  object-fit: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.bg-card-caption{
  text-align: center;
  padding: 0 2rem;
}

.caption{

  font-size: 2rem;
}

.caption i{
  padding: 0 .5rem;
  font-size: 2rem;
}

.caption-guest{
  font-size: 1.8rem;
  font-weight: 700;
  padding: 2rem;
}


/* RESPONSIVE */

@media screen and (max-width:480px) {
  .navbar li {
    display: none;
  }

  .navbar li:last-child {
    display: block;
  }
}

@media screen and (max-width:768px) {
  .navbar li {
    display: none;
  }

  .navbar li:last-child {
    display: block;
  }
}