/* RESET AND FONTS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* HEADER */

header {
  background-color: #0084fd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem 1rem;
}

header i {
  font-size: 2rem;
  color: #fff;
}

/* CONTAINER AND FLEX SET */

.container {
  width: 100vw;
  padding: 2rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

/* BUTTON */

.btn-azure {
  padding: 1rem 3rem;
  color: white;
  border: none;
  background-color: #0084fd;
  border-radius: 50px;
  font-size: 1rem;
  margin: 2rem 0;
  font-weight: 600;
}

button i {
  color: white;
  font-size: 1.2rem;
  margin-right: 1rem;
}

/* FIRST CARD SECTION */

.card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b5ddff;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}

/* card-style for first section  */

.card-col-left{
  padding: 2rem;
  text-align: left;
}

.card-col-left>p{
  margin-top: 2rem;
}

.card img {
  width: 80%;
}

.card>i {
  font-size: 5rem;
  padding: 2rem 0 0 0;
  color: #0084fd;
}


.card .title-card {
  color: #0084fd;
  font-weight: 900;
  font-size: 1.3rem;
  padding: 2rem 0;
}

.card p {
  line-height: 1.6rem;
  color: #5a6e7f;
  font-weight: 700;
}

.card>p{
  padding: 0 1.5rem 2rem;
}

/* FULL-WIDTH-BG */

.full-width-bg{
  background-color: #9792e4;
}

.col-left img,
.col-right img{
  width: 100%;
}

/* RESPONSIVE */

@media screen and (max-width:480px) {
  .navbar li {
    display: none;
  }

  .navbar li:last-child {
    display: block;
  }
}

@media screen and (max-width:768px) {
  .navbar li {
    display: none;
  }

  .navbar li:last-child {
    display: block;
  }
}