*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* HEADER */

header{
  background-color: #0084fd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header i{
  font-size: 2rem;
  color: #fff;
}

/* CONTAINER AND FLEX SET */

.container{
  width: 100vw;
  padding: 1rem;
}

.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

/* FIRST CARD SECTION */

.card{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b5ddff;
  text-align: center;
  width: 100%;
  border-radius: 20px;
}

/* card-style for first section  */

.card i{
  font-size: 5rem;
  padding: 2rem 0 1rem;
  color: #0084fd;
}


.card .title-card{
  color: #0084fd;
  font-weight: 800;
  font-size: 1.3rem;
}

.card p{
  line-height: 1.6rem;
  padding: 1rem 1.5rem 2rem;
  color: #5a6e7f;
  font-weight: 600;
}


/* RESPONSIVE */

@media screen and (max-width:480px){
  .navbar li{
    display: none;
  }
  .navbar li:last-child{
    display: block;
  }
}

@media screen and (max-width:768px){
  .navbar li{
    display: none;
  }
  .navbar li:last-child{
    display: block;
  }
}